:root {
  font-size: 16px;
  font-family: "Arial,sans-serif", sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  z-index: 9999;
  left: 0;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-left: 0 !important;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  -webkit-filter: grayscale(100%) opacity(0.7);
          filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  -webkit-filter: grayscale(0%) opacity(1);
          filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */

@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */

@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}

.vue-dropzone {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-family: inherit !important;
  border-radius: 14px !important;
  opacity: 0.84 !important;
  width: 50%;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.vue-dropzone .dropzone-custom-content {
  text-align: center !important;
}

.vue-dropzone .dropzone-custom-title {
  margin-top: 0 !important;
  color: #314b5f !important;
}

.vue-dropzone .subtitle {
  color: #314b5f !important;
}

.vue-dropzone .dz-preview {
  position: relative !important;
  display: inline-block !important;
  vertical-align: top !important;
  margin: 16px !important;
  min-height: 100px !important;
}

.vue-dropzone .dz-message {
  margin: 0 !important;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

.vue-dropzone .dz-image {
  overflow: hidden !important;
  width: 120px !important;
  height: 120px !important;
  position: relative !important;
  display: block !important;
  z-index: 10 !important;
}

.vue-dropzone .dz-details {
  z-index: 20 !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  font-size: 13px !important;
  min-width: 100% !important;
  max-width: 100% !important;
  padding: 2em 1em !important;
  text-align: center !important;
  color: rgba(0, 0, 0, 0.9) !important;
  line-height: 150% !important;
  background-color: #ececec !important;
}

.vue-dropzone .dz-details .dz-size {
  margin-bottom: 1em !important;
  font-size: 16px !important;
}

.vue-dropzone .dz-details .dz-filename {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  cursor: default !important;
}

.vue-dropzone .dz-details .dz-filename:not(:hover) {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  cursor: default !important;
}

.vue-dropzone .dz-progress {
  opacity: 0 !important;
  transition: opacity 0.4s ease-in !important;
}

.vue-dropzone .dz-progress .dz-upload {
  width: 100% !important;
  background: #333 !important;
  background: linear-gradient(to bottom, #666, #444) !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  width: 0 !important;
  transition: width 300ms ease-in-out !important;
}

.vue-dropzone .dz-error-message {
  pointer-events: none !important;
  z-index: 1000 !important;
  position: absolute !important;
  display: block !important;
  display: none !important;
  opacity: 0 !important;
  transition: opacity 0.3s ease !important;
  border-radius: 8px !important;
  font-size: 13px !important;
  top: 130px !important;
  left: -10px !important;
  width: 140px !important;
  background: #be2626 !important;
  background: linear-gradient(to bottom, #be2626, #a92222) !important;
  padding: 0.5em 1.2em !important;
  color: white !important;
}

.vue-dropzone .dz-success-mark {
  -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1) !important;
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1) !important;
  pointer-events: none !important;
  opacity: 0 !important;
  z-index: 500 !important;
  position: absolute !important;
  display: block !important;
  top: 35% !important;
  left: 25% !important;
  margin-left: -27px !important;
  margin-top: -27px !important;
}

.vue-dropzone .dz-success-mark svg {
  display: block !important;
  width: 54px !important;
  height: 54px !important;
}

.vue-dropzone .dz-error-mark {
  pointer-events: none !important;
  opacity: 0 !important;
  z-index: 500 !important;
  position: absolute !important;
  display: block !important;
  top: 35% !important;
  left: 25% !important;
  margin-left: -27px !important;
  margin-top: -27px !important;
}

.vue-dropzone .dz-error-mark svg {
  display: block !important;
  width: 54px !important;
  height: 54px !important;
}

