<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/app.css}" />

    </head>
    <body>
        <a th:href="@{/}">Link Name</a>
        <div id="app">
            <file-upload-component></file-upload-component>
        </div>
        <script type="application/javascript" th:src="@{/app.js}"></script>
    </body>
</html>
