.vue-dropzone {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-family: inherit !important;
  border-radius: 14px !important;
  opacity: 0.84 !important;
  width: 50%;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 50px;
  min-height: 100px !important;

  .dropzone-custom-content {
    text-align: center !important;
  }

  .dropzone-custom-title {
    margin-top: 0 !important;
    color: #314b5f !important;
  }

  .subtitle {
    color: #314b5f !important;
  }

  .dz-preview {
    position: relative !important;
    display: inline-block !important;
    vertical-align: top !important;
    margin: 16px !important;
    min-height: 100px !important;
  }

  .dz-message {
    margin: 0 !important;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
  }

  .dz-image {
    overflow: hidden !important;
    width: 120px !important;
    height: 120px !important;
    position: relative !important;
    display: block !important;
    z-index: 10 !important;
  }

  .dz-details {
    z-index: 20 !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    font-size: 13px !important;
    min-width: 100% !important;
    max-width: 100% !important;
    padding: 2em 1em !important;
    text-align: center !important;
    color: rgba(0, 0, 0, 0.9) !important;
    line-height: 150% !important;
    background-color: $text-secondary !important;

    .dz-size {
      margin-bottom: 1em !important;
      font-size: 16px !important;
    }

    .dz-filename {
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      cursor: default !important;
    }

    .dz-filename:not(:hover) {
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      cursor: default !important;
    }
  }

  .dz-progress {
    opacity: 0 !important;
    -webkit-transition: opacity 0.4s ease-in !important;
    -moz-transition: opacity 0.4s ease-in !important;
    -ms-transition: opacity 0.4s ease-in !important;
    -o-transition: opacity 0.4s ease-in !important;
    transition: opacity 0.4s ease-in !important;

    .dz-upload {
      width: 100% !important;
      background: #333 !important;
      background: linear-gradient(to bottom, #666, #444) !important;
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;
      bottom: 0 !important;
      width: 0 !important;
      -webkit-transition: width 300ms ease-in-out !important;
      -moz-transition: width 300ms ease-in-out !important;
      -ms-transition: width 300ms ease-in-out !important;
      -o-transition: width 300ms ease-in-out !important;
      transition: width 300ms ease-in-out !important;
    }
  }

  .dz-error-message {
    pointer-events: none !important;
    z-index: 1000 !important;
    position: absolute !important;
    display: block !important;
    display: none !important;
    opacity: 0 !important;
    -webkit-transition: opacity 0.3s ease !important;
    -moz-transition: opacity 0.3s ease !important;
    -ms-transition: opacity 0.3s ease !important;
    -o-transition: opacity 0.3s ease !important;
    transition: opacity 0.3s ease !important;
    border-radius: 8px !important;
    font-size: 13px !important;
    top: 130px !important;
    left: -10px !important;
    width: 140px !important;
    background: #be2626 !important;
    background: linear-gradient(to bottom, #be2626, #a92222) !important;
    padding: 0.5em 1.2em !important;
    color: white !important;
  }

  .dz-success-mark {
    -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1) !important;
    -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1) !important;
    -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1) !important;
    -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1) !important;
    animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1) !important;
    pointer-events: none !important;
    opacity: 0 !important;
    z-index: 500 !important;
    position: absolute !important;
    display: block !important;
    top: 35% !important;
    left: 25% !important;
    margin-left: -27px !important;
    margin-top: -27px !important;

    svg {
      display: block !important;
      width: 54px !important;
      height: 54px !important;
    }
  }

  .dz-error-mark {
    pointer-events: none !important;
    opacity: 0 !important;
    z-index: 500 !important;
    position: absolute !important;
    display: block !important;
    top: 35% !important;
    left: 25% !important;
    margin-left: -27px !important;
    margin-top: -27px !important;

    svg {
      display: block !important;
      width: 54px !important;
      height: 54px !important;
    }
  }
}
