#--page-repository {
  .filters-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;

    .filters {
      display: flex;
    }
  }

  .containers-row {
    width: 75%;
    margin: 0 auto;

    .container-card {
      margin-bottom: 25px;
    }

  }

}